.container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#tbl{
    width: 100%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

th {
    text-align: center;
    display: table-cell;
    vertical-align: middle;}

.table > thead > tr{
    background-color: black;
    color: white;
}

.href{
    cursor: pointer;
    color: blue;
}

ul{
    padding: 2px;
    list-style-type: none;
}